#Stuffs to ignore
.idea/*
.env
.DS_Store/*
.pdf
Backend/ollama_venv/*
Backend/.DS_Store/*
rust_core/ggml/
.bin
.DS_Store
target/*
!stories15M.bin

manager/llama2_rs/target/*
*.bin
Frontend/llm_frontend/node_modules
Frontend/llm_frontend/.next/*
Backend/manager/llama2_rs
