aws-cdk-lib
beautifulsoup4
booking-scraper
boto3
botocore
bs4
celery
celery-debounce
dj-database-url
Django
django-admin-extra-buttons
django-admin-interface
django-admin-shell
django-cachalot
django-celery-beat
django-celery-results
django-colorfield
django-cors-headers
django-crispy-forms
django-easy-logging
django-ebhealthcheck
django-extensions
django-filter
django-flat-responsive
django-flat-theme
django-fsm
django-heroku
django-ninja
django-ninja-extra
django-on-heroku
django-pipeline
django-postgrespool2
django-redis
django-seed
django-service-objects
django-silk
django-simple-history
django-storages
django-timezone-field
djangoql
docker
openai
openapi-schema-pydantic
pre-commit
prettytable
psycopg-binary
#psycopg2                  